<div class="navbar" style="margin-bottom: 10px;">
    <div class="navbar-inner">
        @Html.ActionLink("EBooksWorld", MVC.Home.ActionNames.Index, MVC.Home.Name, null, new { @class = "brand" })
        <ul class="nav">
            <li>@Html.ActionLink("خانه", MVC.Home.ActionNames.Index, MVC.Home.Name)</li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li>@Ajax.ActionLink("ورود / ثبت نام", MVC.User.ActionNames.LogOn, MVC.User.Name, new { area = "", returnUrl = Html.ReturnUrl(Context, Url) }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "logOnModal", LoadingElementDuration = 300, LoadingElementId = "loadingMessage", OnSuccess = "LogOnForm.onSuccess" }, new { role = "button", data_toggle = "modal", data_i_logon_link = "true", rel = "nofollow" })
                </li>
            }
            @Html.Action(MVC.Home.ActionNames.NavbarItems, MVC.Home.Name)
            <li>@Html.ActionLink("تماس با ما", MVC.ContactUs.ActionNames.Index, MVC.ContactUs.Name, null, new { rel = "nofollow" })</li>
        </ul>
        @using (Html.BeginForm(MVC.Search.ActionNames.Index, MVC.Search.Name, FormMethod.Get, new { style = "margin-bottom:0", @class = "form-search" }))
        {
            <div class="input-append pull-left visible-desktop" style="margin-top: 5px;">
                <input type="text" data-i-search-input="true" class="search-query" name="term" value="@ViewBag.Term" data-autocomplete="true" data-autocomplete-url ="@Url.Action(MVC.Search.ActionNames.AutoCompleteSearch, MVC.Search.Name)" placeholder="عنوان،نویسنده،ناشر،ISBN" >
                <button class="btn btn-primary" type="submit">جست و جو</button>
            </div>
        }
    </div>
</div>

