@model IEnumerable<Iris.Model.SliderImagesModel>
@{
    string[] animations = { "fadeInLeft", "", "rollIn" };
    int counter = 0;
}
<div id="myCarousel" class="carousel slide ltr span7 pull-left visible-desktop visible-tablet" data-interval="5000">
    <!-- Carousel items -->
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count(); i += 3)
        {
            <div class="item @if (i < 3)
                             { <text>active</text> }">
                <div class="container" style="text-align: center;">
                    <div class="fake"></div>
                    <div class="carousel-caption mycaption carousel-book">
                        @foreach (var bookImage in Model.Skip(i).Take(3))
                        {
                            <div data-animate="@(animations[counter % 3])">
                                <a href="@Url.Action(MVC.Post.ActionNames.Index, MVC.Post.Name, new { id = bookImage.PostId, title = Html.ResolveTitleForUrl(bookImage.PostTitle) })">
                                    <img  src="@bookImage.ImagePath" title="@bookImage.ImageTitle" alt="@bookImage.ImageDescription">
                                </a>
                            </div>
                            counter++;
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
