@model Iris.DomainClasses.Entities.User
@{
    ViewBag.Title = string.Format("صفحه کاربری {0}", Model.UserName);
}
<style>
    div#userPage
    {
        font-size: 12px;
        text-align: right;
        background-color: white;
    }

        div#userPage div#avatar
        {
            padding: 10px;
            margin: 10px;
        }

        div#userPage div#userNote
        {
            padding: 10px;
            margin: 10px;
            border: 1px solid #cccccc;
            border-left: none;
            border-right: none;
            background-color: #f8f8f8;
            min-height: 350px;
            overflow: auto;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }

    div#userActivities a
    {
        margin: 10px;
        padding: 10px;
    }
</style>
<div id="userPage">
    <div class="span12">
        <div id="avatar" class="thumbnail span2">
            <img src="@Html.UserAvatarPath(Model.UserName, ViewContext)" alt="@Model.UserName" title ="@Model.UserName" style="border-radius:3px;" />
        </div>
        <div id="userDetail" class="span4">
            <table class="table pull-right">
                <tr>
                    <td style="border-top: none;">شماره کاربری</td>
                    <td style="border-top: none;">@Html.ConvertToPersianString(Model.Id)</td>
                </tr>
                <tr>
                    <td>نام کاربری</td>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <td>نقش</td>
                    <td>@Model.Role.Description</td>
                </tr>
                <tr>
                    <td>تاریخ ایجاد</td>
                    <td>@Html.ConvertToPersianDateTime(Model.CreatedDate, "D,H")</td>
                </tr>
                <tr>
                    <td>تاریخ آخرین ورود</td>
                    <td>@Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.LastLoginDate), "D,H")</td>
                </tr>
                <tr>
                    <td>نام و نام خانوادگی</td>
                    <td>@Model.UserMetaData.FirstName @Model.UserMetaData.LastName</td>
                </tr>
                <tr>
                    <td>رشته تحصیلی</td>
                    <td>@Model.UserMetaData.Major</td>
                </tr>
                <tr>
                    <td>تاریخ تولد</td>
                    <td>@Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.UserMetaData.BirthDay), "D")</td>
                </tr>
                <tr>
                    <td>تعداد پست ها</td>
                    <td>@Html.ConvertToPersianString(Model.Posts.Count)</td>
                </tr>
                <tr>
                    <td>تعداد برگه ها</td>
                    <td>@Html.ConvertToPersianString(Model.Pages.Count)</td>
                </tr>
                <tr>
                    <td>تعدادمطالب</td>
                    <td>@Html.ConvertToPersianString(Model.Articles.Count)</td>
                </tr>
                <tr>
                    <td>تعداد دیدگاه ها</td>
                    <td>@Html.ConvertToPersianString(Model.Comments.Count)</td>
                </tr>
            </table>
        </div>
        <div class="span5 pull-left" id="userNote">
            @if (string.IsNullOrWhiteSpace(Model.UserMetaData.Description))
            {
                <p>توضیحات درباره من خالی است.</p>
            }
            else
            {
                @Model.UserMetaData.Description
            }
        </div>
    </div>
    <div class="span10" id="userActivities">
        <a href="@Url.Action("UserPostsList", "Post", new { userName = Model.UserName })" class="label label-info">پست ها</a>
        <a href="@Url.Action("UserArticlesList", "Article", new { userName = Model.UserName })" class="label label-success">مطالب</a>
        <a href="#" class="label label-warning">دیدگاه های پست ها</a>
        <a href="#" class="label label-important">دیدگاه های برگه ها</a>
        <a href="#" class="label label-inverse">دیدگاه های مطالب</a>
    </div>
    <div class="clear"></div>
</div>
