@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/start/css")
    <link href="~/Content/bootstrap/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/responsive-rtl.css" rel="stylesheet" />
    <link href="~/Content/AdminSite.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/redactor/redactor.css" />
    <link href="~/Scripts/chosen/chosen.css" rel="stylesheet" />
    <link rel="shortcut icon" href="@Links.Content.Images.fav.iefavicon_ico" type="image/x-icon">
    <link rel="shortcut icon" href="@Links.Content.Images.fav.favicon_ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="@Links.Content.Images.fav.apple_touch_icon_iphone_png" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Links.Content.Images.fav.apple_touch_icon_ipad_png" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Links.Content.Images.fav.apple_touch_icon_iphone4_png" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Links.Content.Images.fav.apple_touch_icon_ipad3_png" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            font-family: Tahoma;
        }

        html body {
            height: 100%;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>
<body>
    @Html.Action(MVC.Admin.Home.ActionNames.RenderDashBoard, MVC.Admin.Home.Name)
    <div class="container-fluid" style="height: auto; min-height: 100%;">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav" data-offset-top="200" id="iris-sidebar" style="-webkit-box-shadow: 0 0 4px 1px #696969; box-shadow: 0 0 4px 1px #696969;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Sidebar</li>
                        <li class="active"><a href="#">Link</a></li>
                        <li>
                            <i class="icon-user"></i>
                            @Ajax.ActionLink("کاربران", MVC.Admin.User.ActionNames.Index, MVC.Admin.User.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            <i class="icon-book"></i>
                            @Ajax.ActionLink("پست ها", MVC.Admin.Post.ActionNames.Index, MVC.Admin.Post.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            <i class="icon-tags"></i>
                            @Ajax.ActionLink("برچسب ها", MVC.Admin.Label.ActionNames.Index, MVC.Admin.Label.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            <i class="icon-comment"></i>
                            @Ajax.ActionLink("دیدگاه ها", MVC.Admin.Comment.ActionNames.Index, MVC.Admin.Comment.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li class="nav-header">Sidebar</li>
                        <li>
                            <i class="icon-th-large"></i>
                            @Ajax.ActionLink("برگه ها", MVC.Admin.Page.ActionNames.Index, MVC.Admin.Page.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            <i class="icon-envelope"></i>
                            @Ajax.ActionLink("پیام رسانی", MVC.Admin.Mail.ActionNames.Index, MVC.Admin.Mail.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            <i class="icon-envelope"></i>
                            @Ajax.ActionLink("تماس با ما", MVC.Admin.ContactUs.ActionNames.Index, MVC.Admin.ContactUs.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="nav-header">مطالب سایت</li>
                        <li>
                            @Ajax.ActionLink("گروه ها", MVC.Admin.Category.ActionNames.Index, MVC.Admin.Category.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            @Ajax.ActionLink("مطالب", MVC.Admin.Article.ActionNames.Index, MVC.Admin.Article.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>@Ajax.ActionLink("افزودن کتاب", MVC.Admin.Post.ActionNames.AddCkEditor, MVC.Admin.Post.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })</li>
                        <li class="nav-header">Sidebar</li>
                        <li>
                            <i class="icon-cog"></i>
                            @Ajax.ActionLink("تنظیمات", MVC.Admin.Option.ActionNames.Index, MVC.Admin.Option.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" })
                        </li>
                        <li>
                            <i class="icon-pencil"></i>
                            @Ajax.ActionLink("ویرایش شناسه من", MVC.User.ActionNames.UpdateProfile, MVC.User.Name, new { area = "" }, new AjaxOptions { UpdateTargetId = "main-content", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "showLoading", OnComplete = "hideLoading" })
                        </li>
                        @using (Html.BeginForm(MVC.User.ActionNames.LogOut, MVC.User.Name, new { area = "" }, FormMethod.Post, new { id = "frmLogOut" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                <i class="icon-off"></i>
                                <a href="javascript:document.getElementById('frmLogOut').submit()">خروج</a>
                            </li>
                        }
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span10" style="padding-bottom: 30px;">
                <div id="main-content" style="-webkit-box-shadow: 0 0 7px 5px #696969; box-shadow: 0 0 7px 5px #696969; padding: 20px; border-radius: 2px; min-height: 100%; margin-left: 15px; min-height: 450px;">
                    @RenderBody()
                </div>

            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <div id="loading" style="position: absolute; display: none;">
            <img src="@Links.Content.Images.loading1_gif" />
        </div>
        <div id="dialog" style="display: none; width: 400px; height: 400px;"></div>
        <div id="loadingMessage">
            <img src="@Links.Content.Images.loading4_gif" alt="loading..." />
            <div>
                <p>لطفا منتظر بمانید...</p>
            </div>
        </div>
    </div>
    <footer>
        <div style="background-color: black; color: white; position: relative; padding: 10px; height: 50px; clear: both; margin-top: 50px; margin-bottom: -3000px;">
            <div style="text-align: center;">
                <p style="margin: 0px;">با افتخار نیرو گرفته از IRIS Blue</p>
                <label class="label label-important">BETA VERSION</label>
            </div>
        </div>
    </footer>
    <!--/.fluid-container-->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-validator-combined.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/redactor")
    @Scripts.Render("~/bundles/admin")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.stylesSet.add('my_custom_style', [
                { name: 'Language: RTL', element: 'span', attributes: { 'style': 'direction:rtl;display:block;' } },
    { name: 'Language: LTR', element: 'span', attributes: { 'style': 'direction:ltr;display:block;' } },
    /* Block Styles */

    // These styles are already available in the "Format" combo ("format" plugin),
	// so they are not needed here by default. You may enable them to avoid
	// placing the "Format" combo in the toolbar, maintaining the same features.
	/*
	{ name: 'Paragraph',		element: 'p' },
	{ name: 'Heading 1',		element: 'h1' },
	{ name: 'Heading 2',		element: 'h2' },
	{ name: 'Heading 3',		element: 'h3' },
	{ name: 'Heading 4',		element: 'h4' },
	{ name: 'Heading 5',		element: 'h5' },
	{ name: 'Heading 6',		element: 'h6' },
	{ name: 'Preformatted Text',element: 'pre' },
	{ name: 'Address',			element: 'address' },
	*/

    { name: 'Italic Title', element: 'h2', styles: { 'font-style': 'italic' } },
    { name: 'Subtitle', element: 'h3', styles: { 'color': '#aaa', 'font-style': 'italic' } },
{
    name: 'Special Container',
    element: 'div',
    styles: {
        padding: '5px 10px',
        background: '#eee',
        border: '1px solid #ccc'
    }
},
    /* Inline Styles */

    // These are core styles available as toolbar buttons. You may opt enabling
	// some of them in the Styles combo, removing them from the toolbar.
	// (This requires the "stylescombo" plugin)
	/*
	{ name: 'Strong',			element: 'strong', overrides: 'b' },
	{ name: 'Emphasis',			element: 'em'	, overrides: 'i' },
	{ name: 'Underline',		element: 'u' },
	{ name: 'Strikethrough',	element: 'strike' },
	{ name: 'Subscript',		element: 'sub' },
	{ name: 'Superscript',		element: 'sup' },
	*/

    { name: 'Marker', element: 'span', attributes: { 'class': 'marker' } },
    { name: 'Big', element: 'big' },
    { name: 'Small', element: 'small' },
    { name: 'Typewriter', element: 'tt' },
    { name: 'Computer Code', element: 'code' },
    { name: 'Keyboard Phrase', element: 'kbd' },
    { name: 'Sample Text', element: 'samp' },
    { name: 'Variable', element: 'var' },
    { name: 'Deleted Text', element: 'del' },
    { name: 'Inserted Text', element: 'ins' },
    { name: 'Cited Work', element: 'cite' },
    { name: 'Inline Quotation', element: 'q' },


	/* Object Styles */

	{
	    name: 'Styled image (left)',
	    element: 'img',
	    attributes: { 'class': 'left' }
	},

	{
	    name: 'Styled image (right)',
	    element: 'img',
	    attributes: { 'class': 'right' }
	},

	{
	    name: 'Compact table',
	    element: 'table',
	    attributes: {
	        cellpadding: '5',
	        cellspacing: '0',
	        border: '1',
	        bordercolor: '#ccc'
	    },
	    styles: {
	        'border-collapse': 'collapse'
	    }
	},

	{ name: 'Borderless Table', element: 'table', styles: { 'border-style': 'hidden', 'background-color': '#E6E6FA' } },
	{ name: 'Square Bulleted List', element: 'ul', styles: { 'list-style-type': 'square' } }
        ]);
    </script>
    @*@MiniProfiler.RenderIncludes()*@
</body>
</html>
