@model Iris.Model.EmailModel.NewPasswordModel

<div style="direction: rtl; -ms-word-wrap: break-word; word-wrap: break-word;">
    <p>با سلام</p>
    <p>کاربر گرامی، @Model.UserName عزیز، کلمه عبور شما ریست شد!</p>
    <p style="color: red;">کلمه عبور جدید: @Model.NewPassword</p>
    <div style="font-size: 13px; color: #808080;">
        <p>با تشکر</p>
        <p>@Model.SiteTitle</p>
        <p>@Model.SiteDescription</p>
        <p><span style="direction: ltr !important; unicode-bidi: embed;">@Html.ConvertToPersianDateTime(DateTime.Now, "s,H")</span></p>
    </div>
</div>
