@model IEnumerable<Iris.Model.BooksListModel>
@foreach (var book in Model)
{
    <div class="book-info-container">
        <div id="book-info">
            <div id="book-info-header">
                <div id="book-info-title">
                    <i class="icon-book icon-white"></i>
                    <h1>
                        <a href="@Url.Action(MVC.Post.ActionNames.Index, MVC.Post.Name, new { id = book.PostId, title = Html.ResolveTitleForUrl(book.Title) })">@book.BookName</a>
                    </h1>
                </div>
            </div>
            <div class="container-fluid" id="book-writer-info">
                <div class="pull-right">
                    <i class="icon-calendar"></i>
                    <span>تاریخ: </span><span class="unicode">@Html.ConvertToPersianDateTime(book.CreatedDate.Value, "H,W")</span>
                </div>
                <div class="pull-right" style="margin-right: 15px;">
                    <i class="icon-pencil"></i>
                    <span>توسط: </span><span>@Html.ActionLink(book.UserName, MVC.User.ActionNames.Index, MVC.User.Name, new { userName = book.UserName }, new { title = string.Format("صفحه کاربری {0}", book.UserName) })</span>
                </div>
                <div class="pull-right" style="margin-right: 15px;">
                    <i class="icon-thumbs-up"></i>
                    <span>امتیاز: </span><span class="unicode">@Html.ConvertToPersianString(book.LikeCount)</span>
                </div>
            </div>
            <!-- end data and writer info -->
            <div class="container-fluid" id="book-tag-info">
                <div class="pull-right">
                    <i class="icon-list-alt"></i>
                    <span>برچسب ها: </span><span>@foreach (var label in book.Lables)
                                                 { <text>@Html.ActionLink(label.Name, MVC.Label.ActionNames.Index, MVC.Label.Name, new { id = label.Id, title = Html.ResolveTitleForUrl(label.Description), name = Html.ResolveTitleForUrl(label.Name) }, new { title = label.Description }) <span style="color: #ccc;">|</span></text> }</span>
                </div>
            </div>
            <div class="book-image span3">
                <a href="@Url.Action(MVC.Post.ActionNames.Index, MVC.Post.Name, new { id = book.PostId, title = Html.ResolveTitleForUrl(book.Title) })">
                    <img src="@book.ImagePath" title="@book.ImageTitle" alt="@book.ImageDescription">
                </a>
            </div>
            <div class="book-description">
                @Html.Raw(book.Body)
            </div>
            <div class="clear"></div>
            <div class="container-fluid">
                <div class="pull-right book-visited-count">
                    <i class="icon-refresh"></i>
                    <span>تعداد بازدید: </span><span>@Html.ConvertToPersianString(book.VisitedCount)</span>
                </div>
                <div class="pull-right book-comment-count" style="margin-right: 30px;">
                    <i class="icon-comment"></i>
                    <span>دیدگاه ها: </span><span>@Html.ConvertToPersianString(book.CommentsCount)</span>
                </div>
                <div class="btn-book-view"><a href="@Url.Action(MVC.Post.ActionNames.Index, MVC.Post.Name, new { id = book.PostId, title = Html.ResolveTitleForUrl(book.Title) })" class="btn btn-primary btn-small">مشاهده</a></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}
<!-- begin page navigation section -->

<!-- end page navigation section -->
