@model Iris.Model.RegisterModel
@using CaptchaMvc.HtmlHelpers;
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">ثبت نام کاربر جدید</h3>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm(MVC.User.ActionNames.Register, MVC.User.Name, new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnComplete = "", OnSuccess = "RegisterUser.Form.onSuccess", LoadingElementDuration = 300, LoadingElementId = "loadingMessage" }, new { @class = "form-horizontal", id = "registerForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="registerEmail">ایمیل</label>
            <div class="controls">
                @Html.TextBoxFor(user => user.Email, new { placeholder = "Email", @class = "ltr", id = "registerEmail" })
                <img src="@Links.Content.Images.loading1_gif" alt="loading" style="width:24px;display:none;" />
                <span id="emailValidationDiv" style="margin-right: 10px;"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="UserName">نام کاربری</label>
            <div class="controls">
                @Html.TextBoxFor(user => user.UserName, new { placeholder = "UserName", @class = "ltr" })
                <img src="@Links.Content.Images.loading1_gif" alt="loading" style="width:24px;display:none;" />
                <span id="userNameValidationDiv" style="margin-right: 10px;"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="Password">کلمه عبور</label>
            <div class="controls">
                @Html.PasswordFor(user => user.Password, new { placeholder = "Password", @class = "ltr" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="ConfirmPassword">تکرار کلمه عبور</label>
            <div class="controls">
                @Html.PasswordFor(user => user.ConfirmPassword, new { placeholder = "Confirm Password", @class = "ltr" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="width: 110px;" for="Captcha">انسان یاب!</label>
            <div class="controls">
                @Html.Captcha(4, MVC.Captcha.Views._RegisterUser)
            </div>
        </div>
        <div id="registerResult">
            @Html.ValidationSummary()
        </div>
        <input type="submit" id="btnRegister" name="name" value="" style="display: none;" />
    }
</div>
<div class="modal-footer" style="text-align: right;">
    <input type="submit" name="btn-submit" onclick="$('#btnRegister').trigger('click');" value="ثبت نام" class="btn btn-success" />
    @Ajax.ActionLink("ورود", MVC.User.ActionNames.LogOn, MVC.User.Name
    , null, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "logOnModal", LoadingElementDuration = 300, LoadingElementId = "loadingMessage" }, new { @class = "btn btn-info", id = "btnLogOn" })
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">بستن</button>
</div>
<script type="text/javascript">
    run(function () {
        $.validator.unobtrusive.parse('#registerForm');
        RegisterUser.Form.validateEmail('@Url.Action(MVC.User.ActionNames.ExistsUserByEmail, MVC.User.Name)');
        RegisterUser.Form.validateUserName('@Url.Action(MVC.User.ActionNames.ExistsUserByUserName, MVC.User.Name)');
    });
</script>
