@model IEnumerable<Iris.DomainClasses.Entities.LuceneBookModel>
@{
    ViewBag.Title = "جست و جوی سایت";
}
<div id="searchDiv" style="text-align: right; padding: 10px">
    @using (Html.AjaxBeginForm("Index", "Search", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchDiv", OnSuccess = "autocompleteBinding", LoadingElementId = "searchLoading" }, new { style = "margin-bottom:0", @class = "form-search" }))
    {
        <div class="input-append" style="margin-top: 10px; margin-bottom: 20px;">
            <input type="text" data-i-search-input="true" class="search-query" name="term" value="@ViewBag.Term" data-autocomplete="true" data-autocomplete-url ="@Url.Action("AutoCompleteSearch", "Search")" placeholder="عنوان،نویسنده،ناشر،ISBN" >
            <button class="btn btn-primary" type="submit">جست و جو</button>
        </div>
        <img id="searchLoading" src="~/Content/Images/loading1.gif" alt="loading" style="width:32px;display:none;" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Term))
    {
        @*<fieldset>
            <legend>کلمات مشابه</legend>
            <ul>
                @foreach (string term in Iris.Web.Searching.LuceneBookSearch.SuggestSilmilarWords(ViewBag.Term))
                {
                    <li>@Html.ActionLink(term, "Index", "Search", new { term }, null)</li>
                }
            </ul>
        </fieldset>*@
    }
    <fieldset>
        <legend>نتایج جست و جو @ViewBag.Term</legend>
        @foreach (var book in Model)
        {
            <div style="margin: 10px; text-align: right;">
                <div id="book-info">
                    <div id="book-info-header">
                        <div id="book-info-title" style="font-weight: normal;">
                            <i class="icon-book icon-white"></i>
                            <a href="@Url.Action("Index", "Post", new { id = book.PostId, title = Html.ResolveTitleForUrl(book.Title) })">@Html.Raw(book.Name)</a>
                        </div>
                    </div>
                    <div class="container-fluid" id="book-writer-info">
                        <div class="pull-right" style="margin-right: 15px;">
                            <i class="icon-pencil"></i>
                            <span>نویسنده: </span><span>@Html.Raw(book.Author)</span>
                        </div>
                        <div class="pull-right" style="margin-right: 15px;">
                            <i class="icon-thumbs-up"></i>
                            <span>ناشر: </span><span>@Html.Raw(book.Publisher)</span>
                        </div>
                        <div class="pull-right" style="margin-right: 15px;">
                            <i class="icon-thumbs-up"></i>
                            <span>ISBN: </span><span>@Html.Raw(book.ISBN)</span>
                        </div>
                    </div>
                    <!-- end data and writer info -->
                    <div>
                        <div style="padding: 10px;">
                            @Html.Raw(book.Description)
                        </div>
                        <div class="clear"></div>
                        <div class="btn-book-view"><a href="@Url.Action("Index", "Post", new { id = book.PostId, title = Html.ResolveTitleForUrl(book.Title) })" class="btn btn-primary btn-small">مشاهده</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </fieldset>
</div>
