@using Iris.Web.Helpers
@model IEnumerable<Iris.DomainClasses.Entities.Message>
<div id="label-table">
    <table style="width: 100%;" class="table iris-table">
        <thead>
            <tr>
                <td></td>
                <td>عنوان</td>
                <td>ارسال کننده</td>
                <td>ایمیل</td>
                <td style="text-align: center">عملیات</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="PostsId" value="@message.Id" />
                    </td>
                    <td>@message.Subject</td>
                    <td>@message.User.UserName</td>
                    <td>@message.User.Email</td>
                    <td>
                        @Html.ButtonDialog("مشاهده", Url.Action("Detail", "ContactUs"), "GET", "id=" + message.Id, "dialog", new DialogOptions { Height = "600", Width = "800", IsModal = "true", Title = "مشاهده", ShowDir = "down", ShowEffect = "drop", HideEffect = "puff", HideDir = "up" }, "btn btn-primary")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
