@model IEnumerable<Iris.Model.AdminModel.PageDataTableModel>
@{
    int currentPage = ViewBag.CurrentPage + 1;
    int count = ViewBag.Count;
    int max = ViewBag.TotalRecords / count;
    int firstPage = ((currentPage - 2) <= 0) ? 0 : currentPage - 3;
    int lastPage = ((currentPage + 2) >= max) ? max : currentPage + 3;
}
<div id="page-table">
    <table style="width: 100%;" class="table iris-table">
        <thead>
            <tr>
                <td></td>
                <td>#</td>
                <td>عنوان</td>
                <td>نویسنده</td>
                <td>وضعیت</td>
                <td>وضعیت نظرات</td>
                <td>مادر</td>
                <td>تعداد نظرات</td>
                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = ((currentPage - 1) * count) + 1;
            }
            @foreach (var page in Model)
            {
            
                <tr>
                    <td>
                        <input type="checkbox" name="PostsId" value="@page.Id" />
                    </td>
                    <td>@Html.ConvertToPersianString(counter)</td>
                    <td>@page.Title</td>
                    <td>@page.UserName</td>
                    <td>@Helper.Literal.PostStatus(page.Status)</td>
                    <td>@((page.CommentStatus == true) ? "آزاد" : "قفل شده")</td>
                    <td>@(page.ParentTitle ?? "بدون مادر")</td>
                    <td>@Html.ConvertToPersianString(page.CommentCount)</td>
                    <td>
                        @Ajax.ButtonDialog("جزئیات", @Url.Action(MVC.Admin.User.ActionNames.Detail, MVC.Admin.User.Name), "GET", "userId=" + @page.Id, "dialog", new DialogOptions { Height = "600", IsModal = "true", Title = "اطلاعات کاربری", Width = "450" }, "btn btn-info")
                        @Ajax.ButtonDialog("ویرایش", Url.Action(MVC.Admin.Page.ActionNames.Edit, MVC.Admin.Page.Name), "GET", "id=" + @page.Id, "dialog", new DialogOptions { Height = "600", Width = "800", IsModal = "true", Title = "ویرایش پست", ShowDir = "down", ShowEffect = "blind" }, "btn btn-primary")
                        @Ajax.ButtonDialog("حذف", Url.Action(MVC.Admin.Page.ActionNames.ConfirmDelete, MVC.Admin.Page.Name), "GET", "id=" + @page.Id, "dialog", new DialogOptions { Height = "170", Width = "450", IsModal = "true", Title = "حذف پست", ShowDir = "down", ShowEffect = "explode", HideEffect = "explode" }, "btn btn-danger")
                    </td>

                </tr>
                ++counter;
            }
        </tbody>
    </table>

    @* Page Navigation *@

    <div class="pagination pagination-centered">
        <ul>
            <li>@Ajax.ActionLink("ابتدا", MVC.Admin.Page.ActionNames.DataTable, MVC.Admin.Page.Name, new { page = 0, term = ViewBag.TERM, count = ViewBag.COUNT, order = ViewBag.ORDER, orderBy = ViewBag.ORDERBY, searchBy = ViewBag.SEARCHBY }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "page-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
            @for (int i = firstPage; i <= lastPage; i++)
            {
                if (i + 1 == currentPage)
                {
                <li class="active"><a href="#">@Html.ConvertToPersianString(i + 1)</a></li>
                }
                else
                {
                <li>@Ajax.ActionLink(Html.ConvertToPersianString(i + 1).ToString(), MVC.Admin.Page.ActionNames.DataTable, MVC.Admin.Page.Name, new { page = i, term = ViewBag.TERM, count = ViewBag.COUNT, order = ViewBag.ORDER, orderBy = ViewBag.ORDERBY, searchBy = ViewBag.SEARCHBY }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "page-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)
                </li>
                }
            }
            <li>@Ajax.ActionLink("انتها", MVC.Admin.Page.ActionNames.DataTable, MVC.Admin.Page.Name, new { page = max, term = ViewBag.TERM, count = ViewBag.COUNT, order = ViewBag.ORDER, orderBy = ViewBag.ORDERBY, searchBy = ViewBag.SEARCHBY }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "page-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
        </ul>
    </div>
    @* Filter Section *@

    @using (Ajax.BeginForm(MVC.Admin.Page.ActionNames.DataTable, MVC.Admin.Page.Name, new AjaxOptions { UpdateTargetId = "page-table", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showLoading", OnComplete = "hideLoading", OnSuccess = "loadAjaxComponents" }))
    {
        @Html.Hidden("term", ViewBag.TERM as string)
        @Html.Hidden("searchBy", ViewBag.SEARCHBY as string)
        <div class="row-fluid">
            <div class="span3">
                <span style="vertical-align: top;">نمایش به صورت</span>
                @Html.DropDownList("order", ViewBag.OrderByList as IEnumerable<SelectListItem>, new { style = "width:100px" })
            </div>
            <div class="span3">
                <span style="vertical-align: top;">بر اساس</span>
                @Html.DropDownList("orderBy", ViewBag.OrderByItems as IEnumerable<SelectListItem>, new { style = "width:120px" })
            </div>
            <div class="span3">
                <span style="vertical-align: top;">تعداد در هر صفحه</span>
                @Html.DropDownList("count", ViewBag.CountList as IEnumerable<SelectListItem>, new { style = "width:60px" })
            </div>
            <div class="span3">
                <input type="submit" name="btn-submit" value="برو" class="btn" />
            </div>
        </div>
    }

</div>
