@model IEnumerable<Iris.DomainClasses.Entities.Comment>
@using Iris.Web.Helpers

@{
    var isInRole = User.IsInRole("admin") || User.IsInRole("moderator") || User.IsInRole("writer");
}


@(Html.TreeView(Model)
    .EmptyContent("<i>اولین نفری باشید که نظری می دهید!</i>")
    .Children(comment => comment.Children)
    .HtmlAttributes(new { id = "tree" })
    .ChildrenHtmlAttributes(new { @class = "subItem" })
    .ItemText(comment => comment.User.UserName)
    .ItemTemplate(
      @<text>
@if (item.IsApproved || isInRole)
{
    <div class="comment" id="comment-@item.Id">
        <div class="comment-avatar">
            @if (item.User != null)
            {
                <img class="thumbnail" src="@Html.UserAvatarPath(item.User.UserName, Context)">
            }
            else
            {
                <img class="thumbnail" src="@Links.Content.Images.user_gif">
            }
            <div class="comment-user">
                @if (item.User != null)
                {
                    <label class="label label-important">@item.User.Role.Description</label>
                }
                else
                {
                    <label class="label label-info">مهمان</label>
                }
            </div>
        </div>
        <div class="comment-detail span8">
            <p>
                <i class="icon-user"></i><span>نویسنده: </span>
                @if (item.User != null)
                {
                    @Html.ActionLink(item.User.UserName, MVC.User.ActionNames.Index, MVC.User.Name, new { userName = item.User.UserName }, new { title = string.Format("صفحه کاربری {0}", item.User.UserName) })
                }
                else
                {
                    @item.AnonymousUser.Name
                }
                <i class="icon-calendar"></i>
                <span>تاریخ: </span>
                <span class="comment-date">@Html.ConvertToPersianDateTime(item.AddedDate, "H,W")</span>
                <span style="margin-right: 10px;"><i class="icon-thumbs-up"></i>تعداد آرا:  <span id="comment-like-count-@(item.Id)" style="direction: ltr !important; unicode-bidi: embed;">@Html.ConvertToPersianString(item.LikeCount)</span></span>
            </p>
        </div>
        <div class="comment-body span10">
            @Html.Raw(item.Body)
        </div>
        <div class="pull-right span6 comment-like-wrapper">
            <!-- begin comment-like div -->
            <div class="comment-like comment-like-link" title="موافقم">
                <img src="@Links.Content.Images.thumbs_up_png" alt="like-comment">
                <span data-href="@Url.Action(MVC.Comment.ActionNames.Like, MVC.Comment.Name, new { id = item.Id })" data-comment-id="@item.Id">موافقم</span>
            </div>
            <div class="comment-dis-like comment-like-link" title="جفنگ">
                <img src="@Links.Content.Images.thumbs_down_png" alt="dislike-comment">
                <span data-href="@Url.Action(MVC.Comment.ActionNames.DisLike, MVC.Comment.Name, new { id = item.Id })" data-comment-id="@item.Id">جفنگ</span>
            </div>
            <div id="commentLikeLoading@(item.Id)" style="width: 40%; display: none; float: right; margin-top: 15px;">
                <img src="@Links.Content.Images.loading2_gif" style="width: 100px; height: 20px;" alt="Loading..." />
            </div>

            <div id="comment-like-result-@(item.Id)" class="comment-like-result"></div>
        </div>
        <!-- end comment-like div -->
        <div class="pull-left comment-answare-btn">
            @Ajax.ActionLink("پاسخ", MVC.Comment.ActionNames.AddPageComment, MVC.Comment.Name, new { id = ViewBag.PageId, replyId = item.Id }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "comment-reply-" + @item.Id, OnSuccess = "CommentReply.slideDown(" + item.Id + ")", OnBegin = "CommentReply.onBegin", LoadingElementDuration = 300, LoadingElementId = "loadingMessage" }, new { @class = "btn btn-success btn-small", rel = "nofollow" })
        </div>
        <div class="clear"></div>
    </div>
    <div id="comment-reply-@(item.Id)" class="comment-reply-container" style="display: none;"></div>
}


</text>)
)
<div style="text-align: center;">
    @Ajax.ActionLink("ارسال دیدگاه", MVC.Comment.ActionNames.AddPageComment, MVC.Comment.Name, new { id = ViewBag.PageId }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "addComment", OnSuccess = "AddComment.slideToggle", LoadingElementDuration = 300, LoadingElementId = "loadingMessage" }, new { @class = "btn btn-success", style = "width:80%;", rel = "nofollow" })
</div>
<div style="display: none;" id="addComment">
</div>
