@using Microsoft.AspNetCore.Http.Extensions
@model Iris.Model.PostModel
@{
    ViewBag.Title = Model.PostTitle;
    ViewBag.Keywords = Model.PostKeywords;
    ViewBag.Description = Model.PostDescription;
}
@section metatags{
    <meta http-equiv="last-modified" content="@(Model.ModifiedDate ?? Model.CreatedDate)" />
    <meta name="author" content="@Model.UserName (@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host))" />
}
<div id="post-book-container">
    <div id="post-book-info">
        <div id="post-book-info-header">
            <div id="post-book-info-title">
                <i class="icon-book icon-white"></i>
                <h1>
                    @Model.BookName
                </h1>
            </div>
        </div>
        <div class="container-fluid" id="post-book-writer-info">
            <div class="pull-right">
                <i class="icon-calendar"></i>
                <span>تاریخ: </span><span class="unicode">@Html.ConvertToPersianDateTime(Model.CreatedDate, "H,W")</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-pencil"></i>
                <span>توسط: </span><span>@Html.ActionLink(Model.UserName, "Index", "User", new { userName = Model.UserName }, new { title = string.Format("صفحه کاربری {0}", Model.UserName) })</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-thumbs-up"></i>
                <span>امتیاز: </span><span id="like-count" class="unicode">@Html.ConvertToPersianString(Model.LikeCount)</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-refresh"></i>
                <span>تعداد بازدید: </span><span class="unicode" id="like-count">@Html.ConvertToPersianString(Model.VisitedCount)</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-comment"></i>
                <span>دیدگاه ها: </span><span class="unicode" id="like-count">@Html.ConvertToPersianString(Model.CommentsCount)</span>
            </div>
        </div>
        <!-- end data and writer info -->
        <div class="container-fluid" id="post-book-tag-info">
            <div class="pull-right">
                <i class="icon-tags"></i>
                <span>برچسب ها: </span><span>
                    @foreach (var label in Model.Lables)
                    {
                        <text>@Html.ActionLink(label.Name, "Index", "Label", new { id = label.Id, title = Html.ResolveTitleForUrl(label.Description), name = Html.ResolveTitleForUrl(label.Name) }, new { title = label.Description }) <span style="color: #ccc;">|</span></text>
                    }
                </span>
            </div>
        </div>
        <div class="span3" id="post-book-image">
            <img src="@Model.ImagePath" title="@Model.ImageTitle" alt="@Model.ImageDescription">
        </div>
        <div class="span5 pull-right" id="post-book-detail-container">
            <div class="post-book-detail">
                <label>انتشارات:</label>
                <span>@Model.BookPublisher</span>
            </div>
            <div class="post-book-detail">
                <label>توسط:</label><span>@Model.BookAuthor</span>
            </div>
            <div class="post-book-detail">
                <label>ISBN: </label>
                <span>@Model.BookIsbn</span>
            </div>
            <div class="post-book-detail">
                <label>تاریخ انتشار:</label><span>@Model.BookDate</span>
            </div>
            <div class="post-book-detail">
                <label>تعداد صفحات:</label><span>@Model.BookPageCount</span>
            </div>
            <div class="post-book-detail">
                <label>زبان:</label><span>@Model.BookLanguage</span>
            </div>
        </div>
        <div class="span12" id="post-book-description">
            @Html.Raw(Model.PostBody)
            <br />
            @Html.Raw(Model.BookBody)
        </div>
        <div class="clear"></div>
        @*<div id="kaprila_ebooksworld_ir_inline"></div>*@
       <!-- kaprila linktable start --><div id="kaprila_linktable" style="background:white;"><style>.kaprila {width: 100%;margin: 0 auto;padding: 0;box-sizing: border-box;}.kaprila::after {content:"";clear: both;display: block;box-sizing: border-box;}.kpl_linktable {width: 33.33%;text-align: right;float: right;box-sizing: border-box;}.kpl_linktable ul {list-style-type: none;}.kpl_linktable li {display:block; list-style: none; color: #000;font-size:16px;font-family: inherit;box-sizing: border-box;} @@media (max-width: 650px) {.kpl_hide{display:none} .kpl_linktable {width: 100% !important;}}</style> <div class="kaprila">
<div class="kpl_linktable"><ul style="padding:0; margin: 0;"><a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=75096&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=جاوا" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffef5d; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#FFCD5A;" onmouseout="this.style.background='#ffef5d;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">جاوا Java</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=1049&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=برنامه نویسی" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffef5d; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#FFCD5A;" onmouseout="this.style.background='#ffef5d;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">برنامه نویسی</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=70382&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=پایتون" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffef5d; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#FFCD5A;" onmouseout="this.style.background='#ffef5d;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">پایتون Python</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=75091&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=سی شارپ" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffef5d; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#FFCD5A;" onmouseout="this.style.background='#ffef5d;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">سی شارپ #C</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=75093&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=اندروید" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffef5d; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#FFCD5A;" onmouseout="this.style.background='#ffef5d;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">اندروید Android</span></li></a>


<a target="_blank" href="https://faradars.org/how-to-learn/c-and-c-plus-plus-programming?utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=C و C++‎" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffef5d; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#FFCD5A;" onmouseout="this.style.background='#ffef5d;">آموزش <span style="font-weight: bold !important; font-size:17px">C و C++‎</span></li></a></ul></div>
<div class="kpl_linktable"><ul style="padding:0; margin: 0;"><a target="_blank" href="https://faradars.org/explore?keyword=%D9%87%D9%88%D8%B4%20%D9%85%D8%B5%D9%86%D9%88%D8%B9%DB%8C&is_free=1?utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=هوش مصنوعی" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffbfe4; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#ffa0a8;" onmouseout="this.style.background='#ffbfe4;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">هوش مصنوعی</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=11453&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=مهندسی نرم افزار" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffbfe4; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#ffa0a8;" onmouseout="this.style.background='#ffbfe4;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">مهندسی نرم افزار</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=54234&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=مهندسی کامپیوتر" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffbfe4; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#ffa0a8;" onmouseout="this.style.background='#ffbfe4;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">مهندسی کامپیوتر</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=54235&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=شبکه های کامپیوتری" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffbfe4; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#ffa0a8;" onmouseout="this.style.background='#ffbfe4;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">شبکه های کامپیوتری</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=1060&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=علم داده و داده کاوی" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #ffbfe4; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#ffa0a8;" onmouseout="this.style.background='#ffbfe4;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">علم داده و داده کاوی</span></li></a>


<a target="_blank" href="https://faradars.org/explore?is_free=1&&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=free-courses" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #23eeb9; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#607D8B;" onmouseout="this.style.background='#23eeb9;"><span style="font-weight: bold !important; font-size:17px">آموزش‌های رایگان</span></li></a></ul></div>
<div class="kpl_linktable kpl_hide"><ul style="padding:0; margin: 0;"><a target="_blank" href="https://faradars.org/explore?keyword=%D9%88%D8%B1%D8%AF%D9%BE%D8%B1%D8%B3&is_free=1?utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=وردپرس" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #b1ebff; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#77d1f8;" onmouseout="this.style.background='#b1ebff;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">وردپرس</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=62169&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=طراحی سایت" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #b1ebff; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#77d1f8;" onmouseout="this.style.background='#b1ebff;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">طراحی سایت</span></li></a>
<a target="_blank" href="https://faradars.org/explore?keyword=asp&is_free=1&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=ASP.NET" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #b1ebff; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#77d1f8;" onmouseout="this.style.background='#b1ebff;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">ASP.NET</span></li></a>
<a target="_blank" href="https://faradars.org/explore?keyword=%D8%AC%D8%A7%D9%88%D8%A7%20%D8%A7%D8%B3%DA%A9%D8%B1%DB%8C%D9%BE%D8%AA&is_free=1&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=جاوا اسکریپت" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #b1ebff; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#77d1f8;" onmouseout="this.style.background='#b1ebff;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">جاوا اسکریپت</span></li></a>
<a target="_blank" href="https://faradars.org/explore?is_free=1&category_ids=75097&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=پی اچ پی" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #b1ebff; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#77d1f8;" onmouseout="this.style.background='#b1ebff;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">پی اچ پی PHP</span></li></a>


<a target="_blank" href="https://faradars.org/explore?keyword=html%20&%20css&is_free=1&utm_source=ebooksworld.ir&utm_medium=referral-kaprila&utm_campaign=table-link-bottm-post&utm_content=HTML و CSS" style="font-family:vazir;text-align: right; text-decoration: none; color: black; display: block; margin: 3px;"><li style="list-style: none; height:45px !important; background: #b1ebff; border-radius: 5px; padding:12px 8px;" onmouseover="this.style.background='#77d1f8;" onmouseout="this.style.background='#b1ebff;">آموزش رایگان <span style="font-weight: bold !important; font-size:17px">HTML & CSS</span></li></a></ul></div>
</div></div><!-- kaprila linktable end -->
        @*@if (User.Identity.IsAuthenticated)
        {*@
        <div id="post-book-download-container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a class="i-font-koodak" style="font-size: 16px;" href="javascript:;">دریافت</a></li>
            </ul>
            <div class="tab-content">
                @*<div class="tab-pane active" id="linkCaptcha" style="overflow-y:hidden;">
                        <fieldset>
                            <legend>نام پایتخت ایران را به فارسی و با ط دسته دار بنویسید:</legend>
                            <form class="form-inline" id="captchaForm">
                                <input type="text" id="captchaAnswer" placeholder="پاسخ سوال">
                                <button type="submit" id="captchaBtn" class="btn btn-success">نمایش</button>
                            </form>
                            <p>اگر جواب سوال را نمی دانید به <a href="https://t.me/joinchat/G7ZlmAbg_q8CL3kn" target="_blank" style="font-weight:bold;">این گروه تلگرامی</a> مراجعه کنید.</p>
                        </fieldset>
                    </div>*@
                <div class="tab-pane active" id="links">
                    @foreach (var downloadLink in Model.DownloadLinks)
                    {
                        <p>
                            <img src="~/Content/images/down.png" alt="دریافت"><a href="@downloadLink.Link">دریافت با فرمت <span>@downloadLink.FileFormat</span> و با حجم <span>@downloadLink.FileSize</span></a>
                        </p>
                    }
                </div>

            </div>
            <p class="center"><a href="https://t.me/EBooksWorldir" target="_blank" style="font-weight:bold;">کانال تلگرام سایت</a></p>
            <p class="center"><a href="https://t.me/EBooksWorldirGroup" target="_blank" style="font-weight:bold;">گروه تلگرام سایت</a></p>
        </div>
        @*}
        else
        {
            <div id="post-book-download-container">
                <div class="alert alert-error">
                    برای دانلود کتاب باید در سایت <b>ثبت نام</b> کنید یا <b>وارد سایت</b> شوید
                </div>
            </div>
        }*@
        <div id="kaprila_ebooksworld_ir_inline"></div>
        <div id="like-result" data-loading-image="@Url.Content("~/Content/Images/loading2.gif")"></div>
        <div class="pull-right span4" id="post-book-like">
            <!-- begin post-book-like div -->
            <div id="post-like" title="می پسندم">
                <img src="~/Content/Images/thumbs-up.png" alt="like">
                <span data-href="@Url.Action("Like", "Post", new { id = Model.Id })">می پسندم</span>
            </div>
            <div id="post-dis-like" title="به درد نمی خوره">
                <img src="~/Content/Images/thumbs-down.png" alt="dislike">
                <span data-href="@Url.Action("DisLike", "Post", new { id = Model.Id })">به درد نمی خوره</span>
            </div>
        </div>
        <!-- end post-book-like div -->
        <div id="post-book-share-wrapper" class="span3">
            <div id="post-book-share">
                <div>
                    <a target="_blank" rel="nofollow" href="@string.Format("http://www.facebook.com/share.php?t={0}&u={1}", Model.PostTitle, Context.Request.GetDisplayUrl())" title="اشتراک در facebook">
                        <img src="~/Content/Images/facebook.png" alt="Facebook" />
                    </a>
                    <a rel="nofollow" href="https://plus.google.com/share?url=@Context.Request.GetDisplayUrl()" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="اشتراک در +Google">
                        <img src="~/Content/Images/google_plus.png" alt="google-plus">
                    </a>
                    <a target="_blank" rel="nofollow" title="اشتراک در Twitter" href="@string.Format("https://twitter.com/intent/tweet?text={0}&url={1}&via=MY-TWITTER-HANDLE", Model.PostTitle, Context.Request.GetDisplayUrl())">
                        <img src="~/Content/Images/twitter.png" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- end post-book-info div -->
</div>

@Html.Action("SilmilarPosts", "Post", new { id = Model.Id })
<div id="comment-container">
    <!-- begin comment div -->
    <fieldset>
        <legend>دیدگاه ها</legend>
        @Html.Action("PostComments", "Comment", new { id = Model.Id })
    </fieldset>
</div>
<!-- end comment div -->
@section scripts{
    <script>
        $('#captchaForm').on('submit',
            function(e) {
                e.preventDefault();

                var inputValue = $('#captchaAnswer').val();

                $('#loadingMessage').css("display", "block");

                $.ajax('@Url.Action("GetDownloadLinks")',
                        {
                            data: JSON.stringify({ answer: inputValue, postId: @Model.Id }),
                            contentType: 'application/json',
                            type: 'POST'
                        }).done(function(data) {

                        $('#links').html(data);
                        $('#linkCaptcha').fadeOut();
                        $('#links').slideDown();


                    })
                    .fail(function () {
                        alert('پاسخ وارد شده صحیح نیست!');
                    })
                    .always(function() {
                        $('#loadingMessage').css("display", "none");
                    });

            });
    </script>
}
