@using Microsoft.AspNetCore.Http.Extensions
@model Iris.Model.PostModel
@{
    ViewBag.Title = Model.PostTitle;
    ViewBag.Keywords = Model.PostKeywords;
    ViewBag.Description = Model.PostDescription;
}
@section metatags{
    <meta http-equiv="last-modified" content="@(Model.ModifiedDate ?? Model.CreatedDate)" />
    <meta name="author" content="@Model.UserName (@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host))" />
}
<div id="post-book-container">
    <div id="post-book-info">
        <div id="post-book-info-header">
            <div id="post-book-info-title">
                <i class="icon-book icon-white"></i>
                <h1>
                    @Model.BookName
                </h1>
            </div>
        </div>
        <div class="container-fluid" id="post-book-writer-info">
            <div class="pull-right">
                <i class="icon-calendar"></i>
                <span>تاریخ: </span><span class="unicode">@Html.ConvertToPersianDateTime(Model.CreatedDate, "H,W")</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-pencil"></i>
                <span>توسط: </span><span>@Html.ActionLink(Model.UserName, "Index", "User", new { userName = Model.UserName }, new { title = string.Format("صفحه کاربری {0}", Model.UserName) })</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-thumbs-up"></i>
                <span>امتیاز: </span><span id="like-count" class="unicode">@Html.ConvertToPersianString(Model.LikeCount)</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-refresh"></i>
                <span>تعداد بازدید: </span><span class="unicode" id="like-count">@Html.ConvertToPersianString(Model.VisitedCount)</span>
            </div>
            <div class="pull-right" style="margin-right: 15px;">
                <i class="icon-comment"></i>
                <span>دیدگاه ها: </span><span class="unicode" id="like-count">@Html.ConvertToPersianString(Model.CommentsCount)</span>
            </div>
        </div>
        <!-- end data and writer info -->
        <div class="container-fluid" id="post-book-tag-info">
            <div class="pull-right">
                <i class="icon-tags"></i>
                <span>برچسب ها: </span><span>
                    @foreach (var label in Model.Lables)
                    {
                        <text>@Html.ActionLink(label.Name, "Index", "Label", new { id = label.Id, title = Html.ResolveTitleForUrl(label.Description), name = Html.ResolveTitleForUrl(label.Name) }, new { title = label.Description }) <span style="color: #ccc;">|</span></text>
                    }
                </span>
            </div>
        </div>
        <div class="span3" id="post-book-image">
            <img src="@Model.ImagePath" title="@Model.ImageTitle" alt="@Model.ImageDescription">
        </div>
        <div class="span5 pull-right" id="post-book-detail-container">
            <div class="post-book-detail">
                <label>انتشارات:</label>
                <span>@Model.BookPublisher</span>
            </div>
            <div class="post-book-detail">
                <label>توسط:</label><span>@Model.BookAuthor</span>
            </div>
            <div class="post-book-detail">
                <label>ISBN: </label>
                <span>@Model.BookIsbn</span>
            </div>
            <div class="post-book-detail">
                <label>تاریخ انتشار:</label><span>@Model.BookDate</span>
            </div>
            <div class="post-book-detail">
                <label>تعداد صفحات:</label><span>@Model.BookPageCount</span>
            </div>
            <div class="post-book-detail">
                <label>زبان:</label><span>@Model.BookLanguage</span>
            </div>
        </div>
        <div class="span12" id="post-book-description">
            @Html.Raw(Model.PostBody)
            <br />
            @Html.Raw(Model.BookBody)
        </div>
        <div class="clear"></div>
        @*@if (User.Identity.IsAuthenticated)
            {*@
        <div id="post-book-download-container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a class="i-font-koodak" style="font-size: 16px;" href="javascript:;">دریافت</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="linkCaptcha" style="overflow-y:hidden;">
                    <fieldset>
                        <legend>نام پایتخت ایران را به فارسی و با ط دسته دار بنویسید:</legend>
                        <form class="form-inline" id="captchaForm">
                            <input type="text" id="captchaAnswer" placeholder="پاسخ سوال">
                            <button type="submit" id="captchaBtn" class="btn btn-success">نمایش</button>
                        </form>
                        <p>اگر جواب سوال را نمی دانید به <a href="https://t.me/joinchat/G7ZlmAbg_q8CL3kn" target="_blank" style="font-weight:bold;">این گروه تلگرامی</a> مراجعه کنید.</p>
                    </fieldset>
                </div>
                <div class="tab-pane active" id="links" style="display:none;">

                </div>
            </div>
        </div>
        @*}
            else
            {
                <div id="post-book-download-container">
                    <div class="alert alert-error">
                        برای دانلود کتاب باید در سایت <b>ثبت نام</b> کنید یا <b>وارد سایت</b> شوید
                    </div>
                </div>
            }*@
        <div id="like-result" data-loading-image="@Url.Content("~/Content/Images/loading2.gif")"></div>
        <div class="pull-right span4" id="post-book-like">
            <!-- begin post-book-like div -->
            <div id="post-like" title="می پسندم">
                <img src="~/Content/Images/thumbs-up.png" alt="like">
                <span data-href="@Url.Action("Like", "Post", new { id = Model.Id })">می پسندم</span>
            </div>
            <div id="post-dis-like" title="به درد نمی خوره">
                <img src="~/Content/Images/thumbs-down.png" alt="dislike">
                <span data-href="@Url.Action("DisLike", "Post", new { id = Model.Id })">به درد نمی خوره</span>
            </div>
        </div>
        <!-- end post-book-like div -->
        <div id="post-book-share-wrapper" class="span3">
            <div id="post-book-share">
                <div>
                    <a target="_blank" rel="nofollow" href="@string.Format("http://www.facebook.com/share.php?t={0}&u={1}", Model.PostTitle, Context.Request.GetDisplayUrl())" title="اشتراک در facebook">
                        <img src="~/Content/Images/facebook.png" alt="Facebook" />
                    </a>
                    <a rel="nofollow" href="https://plus.google.com/share?url=@Context.Request.GetDisplayUrl()" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="اشتراک در +Google">
                        <img src="~/Content/Images/google_plus.png" alt="google-plus">
                    </a>
                    <a target="_blank" rel="nofollow" title="اشتراک در Twitter" href="@string.Format("https://twitter.com/intent/tweet?text={0}&url={1}&via=MY-TWITTER-HANDLE", Model.PostTitle, Context.Request.GetDisplayUrl())">
                        <img src="~/Content/Images/twitter.png" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- end post-book-info div -->
</div>
@Html.Action("SilmilarPosts", "Post", new { id = Model.Id })
<div id="comment-container">
    <!-- begin comment div -->
    <fieldset>
        <legend>دیدگاه ها</legend>
        @Html.Action("PostComments", "Comment", new { id = Model.Id })
    </fieldset>
</div>
<!-- end comment div -->
@section scripts{
    <script>
        $('#captchaForm').on('submit',
            function(e) {
                e.preventDefault();

                var inputValue = $('#captchaAnswer').val();

                $('#loadingMessage').css("display", "block");

                $.ajax('@Url.Action("GetDownloadLinks")',
                        {
                            data: JSON.stringify({ answer: inputValue, postId: @Model.Id }),
                            contentType: 'application/json',
                            type: 'POST'
                        }).done(function(data) {

                        $('#links').html(data);
                        $('#linkCaptcha').fadeOut();
                        $('#links').slideDown();


                    })
                    .fail(function () {
                        alert('پاسخ وارد شده صحیح نیست!');
                    })
                    .always(function() {
                        $('#loadingMessage').css("display", "none");
                    });

            });
    </script>
}
