@model Iris.DomainClasses.Entities.Category
<div class="container-fluid" id="div-user-detail">
    @using (Html.AjaxBeginForm("Edit", "Category", new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showLoading", OnComplete = "hideLoading" }, new { @class = "form-horizontal", id = "add-label-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(category => category.Id)
        <div class="control-group">
            <label class="control-label" for="Name">نام گروه</label>
            <div class="controls">
                @Html.TextBoxFor(category => category.Name, new { placeholder = "نام گروه" })
            </div>
            @Html.ValidationMessageFor(category => category.Name)
        </div>
        <div class="control-group">
            <label class="control-label" for="Description">توضیحات</label>
            <div class="controls">
                @Html.TextBoxFor(category => category.Description, new { placeholder = "توضیحات" })
            </div>
            @Html.ValidationMessageFor(category => category.Description)
        </div>
        <div class="control-group">
            <label class="control-label" for="Order">ترتیب</label>
            <div class="controls">
                @Html.TextBoxFor(category => category.Order, new { placeholder = "ترتیب" })
            </div>
            @Html.ValidationMessageFor(category => category.Order)
        </div>
        <div id="result"></div>
        <input type="submit" name="btn-submit" value="انجام ویرایش" class="btn btn-success" />
        <input type="button" name="btn-colose" id="btn-close" value="انصراف" class="btn btn-danger" onclick="$dialog.dialog('close');" />
    }
</div>
