@using Iris.Web.Helpers
@model Iris.Model.AdminModel.UserDetailModel

<div class="container-fluid" id="div-user-detail">
    <div class="row-fluid">
        <div class="span12">
            آواتار کاربر:
            <img src="@Model.AvatarPath" style="width:70px;height:70px;" alt="@Model.UserName" title="@Model.UserName" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">شماره کاربری: @Html.ConvertToPersianString(Model.Id)</div>
    </div>
    <div class="row-fluid">
        <div class="span12">نام کاربری: @Model.UserName</div>
    </div>
    <div class="row-fluid">
        <div class="span12">نام و نام خانوادگی: @Model.FullName</div>
    </div>
    <div class="row-fluid">
        <div class="span12">ایمیل: <a href="mailto:@Model.Email">@Model.Email</a></div>
    </div>
    <div class="row-fluid">
        <div class="span12">نقش: @Model.RoleName</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تعداد نظرها: @Html.ConvertToPersianString(Model.CommentNumber)</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تعداد پست ها: @Html.ConvertToPersianString(Model.PostNumber)</div>
    </div>
    <div class="row-fluid">
        <div class="span12">رشته: @Model.Major</div>
    </div>
    <div class="row-fluid">
        <div class="span12">توضیحات: @Model.Description</div>
    </div>
    <div class="row-fluid">
        <div class="span12">آیپی: @Model.IP</div>
    </div>
    <div class="row-fluid">
        <div class="span12">وضعیت: @Iris.Utilities.ExchangeBoolToPersian.BooleanToPersian(@Model.IsBaned)</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تاریخ ایجاد: @Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.CreatedDate), "w,t")</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تاریخ آخرین ورود : @Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.LastLoginDate), "w,t")</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تاریخ مسدود شدن : @Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.BanedDate), "w,t")</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تاریخ تعویض کلمه عبور : @Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.LastPasswordChange), "w,t")</div>
    </div>
    <div class="row-fluid">
        <div class="span12">تاریخ تولد : @Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.BirthDay), "w")</div>


    </div>
