@using Iris.Web.Helpers
@model Iris.Model.AdminModel.EditUserModel

<div class="container-fluid" id="div-user-detail">
    @using (Html.AjaxBeginForm("EditUser", "User", new AjaxOptions { UpdateTargetId = "edit-result", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showLoading", OnComplete = "hideLoading" }, new { @class = "form-horizontal", id = "add-user-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="control-group">
            @Html.HiddenFor(x => x.Id)
            <label class="control-label" for="UserName">نام کاربری</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.UserName, new { placeholder = "نام کاربری" })
            </div>
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="Password">کلمه عبور</label>
            <div class="controls">
                @Html.PasswordFor(x => x.Password, new { placeholder = "کلمه عبور", @class = "i-ltr" })
            </div>
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">تکرار کلمه عبور</label>
            <div class="controls">
                @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "تکرار کلمه عبور", @class = "i-ltr" })
            </div>
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="Email">ایمیل</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.Email, new { placeholder = "ایمیل", style = "direction:ltr;" })
            </div>
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="FirstName">نام</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.FirstName, new { placeholder = "نام" })
            </div>
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="LastName">نام خانوادگی</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.LastName, new { placeholder = "نام خانوادگی" })
            </div>
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="Major">رشته</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.Major, new { placeholder = "رشته تحصیلی" })
            </div>
            @Html.ValidationMessageFor(x => x.Major)
        </div>
        
        <div class="control-group">
            <label class="control-label" for="Description">توضیحات</label>
            <div class="controls">
                @Html.TextAreaFor(x => x.Description)
            </div>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="control-group">
            <label class="control-label" for="BirtDay">تاریخ تولد</label>
            <div class="controls">
                <input type="text" name="BirthDay" id="date-picker" placeholder="تاریخ تولد" style="direction: ltr" value="@Html.ConvertToPersianDateTime(Convert.ToDateTime(Model.BirthDay))" data-val-regex-pattern="^([1][234][0-9]{2})/[0-9]{1,2}/([0-9]{1,2})$" data-val-regex="تاریخ وارد شده معتبر نمی باشد" data-val-date="The field BirthDay must be a date." data-val="true" />
            </div>
            @Html.ValidationMessageFor(user => user.BirthDay)
        </div>
        <div class="control-group">
            <label class="control-label" for="">نقش کاربر</label>
            <div class="controls">
                @Html.DropDownListFor(x => x.RoleId, ViewBag.Roles as IEnumerable<SelectListItem>)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">وضعیت آواتار</label>
            <div class="controls">
                فعال @Html.RadioButton("AvatarStatus", "true", Model.AvatarStatus)
                غیر فعال @Html.RadioButton("AvatarStatus", "false", !Model.AvatarStatus)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">وضعیت کاربر</label>
            <div class="controls">
                فعال @Html.RadioButton("IsBaned", "false", !Model.IsBaned)
                غیر فعال @Html.RadioButton("IsBaned", "true", Model.IsBaned)
            </div>
        </div>
        
        
        <div id="edit-result"></div>
        <input type="submit" class="btn btn-success" name="btn-submit" value="انجام ویرایش" />
    }
</div>
